<h2>
    <% if is_logged_in?() %>
        Welcome, <%=current_user[0]["name"]%>
    <%end%>
</h2>

<section id='top_ten'>

    <h2>Todays Top Ten</h2>

    <section id='top_ten_list'>

        <% song_list.each do |song|%>

            <p id='top_ten_item'>

            <a href="/display?search=<%=song["key"]%>" name="my_name">
                <img class='song_slides' src="<%=song['images']['coverart']%>" alt="" >
            </a>
            
            <span class='top_ten_text'>
                <%=song['title']%><span> - Artist: <%=song['subtitle']%></span>
            </span>
            </p>
            
        <%end%>

    </section>

</section>

<% if is_logged_in?() %>

    <section id='user_playlists'>

        <h2>Your Playlists</h2>

        <a href="/playlist/create">Create New Playlist</a>
        
        <section id='all_playlists'>


            <% playlists.each do |playlist| %>

                <section id='indv_playlists'>

                    <h3><%= playlist["playlist_name"] %></h3>
                    
                    
                    
            
                <%songs.each do |song|%>

                    <ul>
                    <%if song['playlist'] == playlist["playlist_name"]%>
                        <li><%=song['song']%> <span id='artist'> - Artist: <%=song['artist']%></span></li>

                    <%end%>
                
                    </ul>
                    
                <%end%>

                    <div id='playlist_inputs'>
                        <form action="/playlist/<%= playlist["playlist_name"] %>" method="POST">
                            <input type="hidden" name="_method" value="DELETE"/> 
                            <input type="submit" value="Delete Playlist" class='delete_button'/>
                        </form>
                        
                        <a href="/playlist/<%= playlist["playlist_name"]%>/edit" class='edit_button'>Edit</a>
                    </div>
                </section>
                
            <%end%>
        
        </section>
        

    </section>

<% end %>