<form action="/display/create" method="POST">
    <main>
        <section id='image'>

            <img src="<%=cover%>" alt="">

        </section>

        <section id='text'>

        <h2><%=title%></h2>

        <ul>
            <li><span>Artist:</span> <%=artist%></li>
        </ul>

        <% if is_logged_in?() %>
        <ul>
            <% user_playlist.each do |name| %>


                <li>
                <input type="hidden" name="title" value="<%=title%>">
                <input type="hidden" name="artist" value="<%=artist%>">
                <input type="radio" name='playlist' value='<%=name['playlist_name']%>'>
                <label for="<%=name['playlist_name']%>"><%=name['playlist_name']%></label>
                </li>
            
            <%end%>
        </ul>
        <input type="submit" value='Enter'>
        <%end%>
       
        </section>

    </main>
</form>

